name: "Copilot Setup Steps"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  copilot-setup-steps:
    runs-on: ghcr.io/cirruslabs/ubuntu-runner-amd64:24.04-sm

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - uses: golangci/golangci-lint-action@v9
        with:
          install-only: true

      - run: go version